body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("https://t4.ftcdn.net/jpg/04/60/71/01/360_F_460710131_YkD6NsivdyYsHupNvO3Y8MPEwxTAhORh.jpg");
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  h1{
    text-align: center;
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 8px;
  }
  

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 2px solid #555;
  }

  .password-container {
    position: relative;
    width: 350px;
   }
   .toggle-password-button {
    cursor: pointer;
   }
   .toggle-password-button img {
    position: absolute;
    right: 10px;
    top: 2px;
    width: 30px;
    padding: -50px;
   }
   .conpassword-container {
    position: relative;
    width: 350px;
   }
   .toggle-conpassword-button {
    cursor: pointer;
   }
   .toggle-conpassword-button img {
    position: absolute;
    right: 10px;
    top: 2px;
    width: 30px;
    padding:-50px;
   }
   .hide {
    display: none;
   }
   .show {
    display: block;
   }
  
  p{
    color:blue;
  }
  .read-more-btn{
    color: #45a049;
    text-decoration: underline;
  }

   #submitBtn{
    background-color: #4caf50;
    color: #fff;
    padding: 10px 150px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    margin-left: 10px;
    
  }

  #submitBtn:hover {
    background-color: #45a049;
  }

  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }